* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

:root {
  font-family: Verdana, Arial, sans-serif;
}

body {
  background-image: url("../public/mblbg.png");
  background-position: center top;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

#menu {
  position: fixed;
  display: block;
  top: 20%;
  width: 50px;
  border: #ebebeb 1px solid;
  z-index: 2;
}

#menu #form-open,
#menu #export-library {
  position: relative;
  background-color: #f6f6f6;
  display: block;
  width: 50px;
  height: 50px;
  opacity: 1;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#menu #form-open:hover,
#menu #export-library:hover {
  background-color: #4065ba;
  width: 145px;
}

#menu #form-open:hover > svg,
#menu #export-library:hover > svg {
  fill: #fff;
}

#menu #form-open:hover > span,
#menu #export-library:hover > span {
  color: #fff;
  width: 94px;
  opacity: 1;
}

#form-open > svg,
#export-library > svg {
  position: absolute;
  left: 13px;
  top: 12px;
  fill: #323232;
}

#form-open > span,
#export-library > span {
  position: absolute;
  top: 14px;
  left: 50px;
  width: 0;
  display: inline-block;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

#overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(102, 102, 102, 0.3);
  z-index: 1000;
}

#overlay-container {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 15px rgba(102, 102, 102, 0.2);
          box-shadow: 0px 0px 15px rgba(102, 102, 102, 0.2);
  width: 400px;
  height: 450px;
  z-index: 1100;
}

#overlay-close {
  background: url("../public/close.png") top left no-repeat;
  cursor: pointer;
  height: 32px;
  position: absolute;
  right: -15px;
  top: -15px;
  width: 32px;
  z-index: 1100;
}

#book-form {
  display: none;
  color: #2e51a2;
  width: 50%;
  height: 100%;
  margin: 0 auto;
  padding-top: 40px;
}

#book-form label {
  line-height: 1.5;
  font-size: 1.2em;
  font-weight: 700;
}

#book-form input[type="text"] {
  border: #c3c3c3 1px solid;
  border-radius: 4px;
  color: #323232;
  display: block;
  height: 32px;
  width: 200px;
  text-indent: 10px;
}

#book-form input[type="number"] {
  border: #c3c3c3 1px solid;
  border-radius: 4px;
  color: #323232;
  height: 32px;
  width: 75px;
  text-indent: 10px;
  -moz-appearance: textfield;
}

#book-form input[type="number"]::-webkit-input-placeholder {
  opacity: 0.5;
}

#book-form input[type="number"]:-ms-input-placeholder {
  opacity: 0.5;
}

#book-form input[type="number"]::-ms-input-placeholder {
  opacity: 0.5;
}

#book-form input[type="number"]::placeholder {
  opacity: 0.5;
}

#book-form #pages {
  display: block;
  padding-bottom: 20px;
}

#book-form select {
  border: #c3c3c3 1px solid;
  border-radius: 4px;
  color: #323232;
  display: block;
  height: 32px;
  width: 200px;
  text-indent: 10px;
}

#book-form input[type="submit"] {
  background-color: #4f74c8;
  border: #fff 0 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}

.form-section {
  padding-bottom: 20px;
}

#book-delete {
  display: none;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-top: 150px;
}

#book-delete > p {
  font-weight: 700;
  font-size: 1.5em;
}

#book-delete .book-delete-buttons {
  padding-top: 20px;
}

#book-delete #delete-yes {
  background-color: #a12f31;
  border: #fff 0 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  width: 20%;
  font-size: 1.5em;
}

#book-delete #delete-yes:hover {
  background-color: #7b2425;
}

#book-delete #delete-no {
  background-color: #c3c3c3;
  border: #fff 0 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  width: 20%;
  font-size: 1.5em;
}

#book-delete #delete-no:hover {
  background-color: #a8a8a8;
}

#book-export {
  display: none;
  text-align: center;
  padding-top: 150px;
}

#book-export input[type="button"] {
  background-color: #4f74c8;
  border: #fff 0 solid;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
}

header {
  display: block;
  position: relative;
  width: 1060px;
  height: 70px;
  margin: 0 auto;
}

.logo {
  position: absolute;
  top: 21px;
  background-image: url("../public/mbllogo.png");
  background-position: left top;
  background-repeat: no-repeat;
  background-size: auto 36px;
  display: block;
  width: 240px;
  height: 36px;
  text-indent: -9999px;
  overflow: hidden;
}

.container {
  position: relative;
  background-color: #fff;
  border: #ebebeb 1px solid;
  width: 1058px;
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

#history {
  display: block;
  width: 1024px;
  height: 280px;
  margin: 0 auto;
  padding-top: 16px;
}

#history > div {
  display: inline-block;
  width: 33.33%;
  padding-top: 82px;
  padding-left: 82px;
}

#history div > span {
  font-weight: bold;
}

.progress-bar {
  background-color: #f6f6f6;
  border: #f0f0f0 1px solid;
  border-radius: 2px;
  padding: 1px;
  height: 15px;
  width: 65%;
}

.progress-bar > span {
  display: inline-block;
  height: 100%;
  border-radius: 2px;
}

.progress-bar > span::after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.space {
  width: 1058px;
  height: 46px;
}

.table-container {
  margin: 16px auto 0 auto;
  width: 1022px;
  min-height: 600px;
}

#list {
  width: 100%;
  font-size: 14px;
  border: #ebebeb 1px solid;
  border-collapse: collapse;
}

#list tr > th {
  background: #f6f6f6 url("../public/bar-table-header.png") no-repeat right 7px/1px 22px;
  display: table-cell;
  border-bottom: #ebebeb 1px solid;
  height: 36px;
  text-align: center;
  vertical-align: middle;
}

#list tbody > tr:nth-child(even) {
  background-color: #fcfcfc;
}

#list .thead-indicator {
  width: 1%;
}

#list .thead-index {
  width: 3%;
}

#list .thead-title {
  width: 40%;
  padding-left: 8px;
  text-align: left;
}

#list .thead-author {
  width: 20%;
  padding-left: 8px;
  text-align: left;
}

#list .thead-status {
  width: 12.5%;
}

#list .thead-progress {
  width: 12.5%;
}

#list .thead-edit {
  width: 10%;
  background-image: none;
}

#list tr > td {
  display: table-cell;
  padding: 4px 0;
  text-align: center;
  vertical-align: middle;
  border-bottom: #ebebeb 1px solid;
  height: 72px;
}

#list .tdesc-indicator {
  width: 1%;
}

#list .tdesc-index {
  width: 3%;
}

#list .tdesc-title {
  width: 40%;
  padding-left: 8px;
  text-align: left;
}

#list .tdesc-author {
  width: 20%;
  padding-left: 8px;
  text-align: left;
}

#list .tdesc-status {
  width: 12.5%;
}

#list .tdesc-progress {
  width: 12.5%;
}

#list .tdesc-edit {
  width: 10%;
}

#list button {
  border: none;
  background: none;
  color: #2e51a2;
  cursor: pointer;
}

#list input[type="text"] {
  border: #c3c3c3 1px solid;
  border-radius: 4px;
  color: #323232;
  display: block;
  height: 32px;
  width: 95%;
  text-indent: 10px;
}

#list input[type="number"] {
  border: #c3c3c3 1px solid;
  border-radius: 4px;
  color: #323232;
  height: 32px;
  width: 37.5%;
  text-indent: 10px;
  -moz-appearance: textfield;
}

#list select {
  border: #c3c3c3 1px solid;
  border-radius: 4px;
  color: #323232;
  display: block;
  height: 32px;
  width: 95%;
  text-indent: 10px;
}

.loading-space {
  margin: 8px;
  height: 20px;
  text-align: center;
}

footer {
  height: 62px;
  background-color: #2e51a2;
}
/*# sourceMappingURL=style.css.map */