/* TEXT COLORS */

.danger {
  color: tomato;
}

.warning {
  color: orange;
}

.important {
  color: mediumslateblue;
}

.info {
  color: dodgerblue;
}

.success {
  color: mediumseagreen;
}

.primary {
  color: black;
}

.secondary {
  color: darkgray;
}

.light {
  color: lightgray;
}

.white {
  color: white;
}

/* BACKGROUND COLORS */

.bg-danger {
  background-color: tomato;
}

.bg-warning {
  background-color: orange;
}

.bg-important {
  background-color: mediumslateblue;
}

.bg-info {
  background-color: dodgerblue;
}

.bg-success {
  background-color: mediumseagreen;
}

.bg-primary {
  background-color: black;
}

.bg-secondary {
  background-color: darkgray;
}

.bg-light {
  background-color: lightgray;
}

.bg-white {
  background-color: white;
}

/* BORDER COLORS */

.border-danger {
  border-color: tomato;
}

.border-warning {
  border-color: orange;
}

.border-important {
  border-color: mediumslateblue;
}

.border-info {
  border-color: dodgerblue;
}

.border-success {
  border-color: mediumseagreen;
}

.border-primary {
  border-color: black;
}

.border-secondary {
  border-color: darkgray;
}

.border-light {
  border-color: lightgray;
}

.border-white {
  border-color: white;
}
